<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="10">
	

	<test name="TestCases">
		<groups>
			<run>
				<include name="P1"/>
				<include name="P2"/>
			</run>
		</groups>

		<classes>

			<class name="test_suites.Testcase1" />

		</classes>


	</test>

</suite> <!-- Suite -->
